.projects.container {
  margin: 0 auto;
  margin-top: 15px;
  width: 960px;
}

.project.island {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;

  position: relative;

  height: 100px;
  width: 285px;
}

.project .bottom-links {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.project .bottom-links a i {
  color: #000;
}
