h3 a {
  color: #c41200;
}

h3 a i {
  color: #000;
  font-size: 14px;
}

.main-container {
  margin: 0 auto;
  margin-top: 30px;
  width: 960px;
}

.layout-block .column-beta { width: 75%; }
.layout-block .column-alpha {
  width: 25%;
  margin-left: 0px;
}

.projects { width: 702px; }
.projects.not-forked h2 { clear: both; }
.projects.forked { display: none; }

.project.island {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;

  position: relative;

  height: 200px;
  width: 218px;
}

.project.island.featured-project {
  height: 300px;
}

.project:hover {
  background: #f5f5f1;
}

.project .island-item.featured-image {
  height: 100px;
  padding: 0;
}

.project .island-item.featured-image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project h3 {
  margin-bottom: 10px;
}

.project .logo {
  position: relative;
  top: 5px;
}

.project .bottom-links {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 196px;

  position: absolute;
  bottom: 0px;
}

.project.island-light.island-stack.island > .island-item {
  border-color: #fff !important;
}

.project:hover.island-light.island-stack.island > .island-item {
  border-color: #e5e5e1 !important;
}

.project:hover .bottom-links {
  background: #fff;
}

.project .bottom-links a {
  font-size: 12px;
  font-weight: bold;
}

.project .repo-info {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 10px;
}

.project .repo-info .language { font-weight: bold; }
.project .repo-info .Python { color: #228222; }
.project .repo-info .Ruby { color: #d83800; }

.project .repo-info h3 { margin-bottom: 10px; }
.project .repo-info span { margin-right: 20px; }
.project .bottom-links a i { color: #000; }

.footer {
  clear: both;
}
